
#calculator {
    width: 400px;
    background-color: gainsboro;
    padding-bottom: 10px; 
}

#screen {
    text-align: right;
    padding: 10px;
    height: 44px;
}

.btn {
    width: 100%;
    display:block;
    height: 100%;
}